### 12/08/2022 - Análise Microdados Enem 2021
 - Diogo Lindemann
 - Luana Naiara
 - Marcelo Takahashi
 - Rafael Rosso
 - Sylvio Carneiro
 
 ### 1 - Análise estatística das colunas com Valores vazios (NAN)
 ### 2 - Análise dos valores vazios de cada coluna


## 1 - Este script faz uma primeira análise estatística das colunas que têm valores vazios (NaN), emitindo um relatório destas colunas. Colunas não exibidas não possuem valores vazios.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url_or_file = r'C:\Users\sylvi\01_Programação e TI - geral\10_Entra 21\Projeto TCC - Microdados Enem 2021\microdados_enem_2021\DADOS\Dados_Enem_2021.csv'

In [ ]:
dados = pd.read_csv(url_or_file, sep = ',', encoding = 'utf-8')

In [ ]:
dados.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_PROVA,SG_UF_PROVA,...,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q024,Q025
0,5,F,1,1,1,1,1,0,Nova Lima,MG,...,1.0,760.0,F,F,B,B,3.0,D,B,B
1,12,M,1,1,1,1,1,0,Maceió,AL,...,1.0,560.0,B,B,B,B,3.0,B,A,A
2,13,F,3,1,1,1,1,0,Ferraz de Vasconcelos,SP,...,NaN,NaN,B,C,C,B,3.0,C,B,B
3,3,M,1,3,1,2,2,0,Crato,CE,...,1.0,780.0,B,B,B,B,6.0,B,B,B
4,2,F,1,3,1,2,2,0,Acarape,CE,...,1.0,780.0,D,E,F,D,4.0,C,B,B

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685053 entries, 0 to 2685052
Data columns (total 28 columns):
 #   Column              Dtype
---  ------              -----
 0   TP_FAIXA_ETARIA     int64
 1   TP_SEXO             object
 2   TP_ESTADO_CIVIL     int64
 3   TP_COR_RACA         int64
 4   TP_NACIONALIDADE    int64
 5   TP_ST_CONCLUSAO     int64
 6   TP_ESCOLA           int64
 7   IN_TREINEIRO        int64
 8   NO_MUNICIPIO_PROVA  object
 9   SG_UF_PROVA         object
 10  TP_PRESENCA_CN      int64
 11  TP_PRESENCA_CH      int64
 12  TP_PRESENCA_LC      int64
 13  TP_PRESENCA_MT      int64
 14  NU_NOTA_CN          float64
 15  NU_NOTA_CH          float64
 16  NU_NOTA_LC          float64
 17  NU_NOTA_MT          float64
 18  TP_STATUS_REDACAO   float64
 19  NU_NOTA_REDACAO     float64
 20  Q001                object
 21  Q002                object
 22  Q003                object
 23  Q004                object
 24  Q005                float64
 25  Q006                object
 26  Q024                object
 27  Q025                object
dtypes: float64(7), int64(11), object(10)
memory usage: 573.6+ MB

In [ ]:
total_linhas_df = len(dados)
print(f'Total de linhas da base original: {(total_linhas_df):,.0f}')

Total de linhas da base original: 2,685,053

## 2 - Análise de valores vazios de cada coluna.

In [ ]:
def analisar_nan(coluna):
    #return(dados.loc[dados[coluna].isna(), coluna])
    df = dados.loc[dados[coluna].isna(), coluna]
    return(len(df))

In [ ]:
dados.columns

Index(['TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ESCOLA', 'IN_TREINEIRO',
       'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO',
       'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q024', 'Q025'],
      dtype='object')

In [ ]:
cols = [
        'TP_FAIXA_ETARIA', 
        'TP_SEXO',
        'TP_ESTADO_CIVIL', 
        'TP_COR_RACA', 
        'TP_NACIONALIDADE', 
        'TP_ST_CONCLUSAO', 
        'TP_ESCOLA',
        'IN_TREINEIRO',
        'NO_MUNICIPIO_PROVA',
        'SG_UF_PROVA',
        'TP_PRESENCA_CN', 
        'TP_PRESENCA_CH', 
        'TP_PRESENCA_LC',
        'TP_PRESENCA_MT',
        'NU_NOTA_CN', 
        'NU_NOTA_CH', 
        'NU_NOTA_LC', 
        'NU_NOTA_MT',
        'TP_STATUS_REDACAO',
        'NU_NOTA_REDACAO', 
        'Q001', 
        'Q002', 
        'Q003', 
        'Q004',
        'Q005', 
        'Q006', 
        'Q024', 
        'Q025'
        ]

In [ ]:
cont = 0
for coluna in cols:
    nan = analisar_nan(coluna)
    if nan != 0:
        cont += 1
        print(f'Coluna {coluna} tem {(nan):,.0f} valores vazios {(nan / total_linhas_df):.2%}.\n')
print(f'Foram encontradas {cont} colunas com valores vazios.')

Coluna NU_NOTA_CN tem 744,350 valores vazios 27.72%.

Coluna NU_NOTA_CH tem 643,280 valores vazios 23.96%.

Coluna NU_NOTA_LC tem 643,280 valores vazios 23.96%.

Coluna NU_NOTA_MT tem 744,350 valores vazios 27.72%.

Coluna TP_STATUS_REDACAO tem 643,280 valores vazios 23.96%.

Coluna NU_NOTA_REDACAO tem 643,280 valores vazios 23.96%.

Coluna Q001 tem 1 valores vazios 0.00%.

Coluna Q002 tem 1 valores vazios 0.00%.

Coluna Q003 tem 1 valores vazios 0.00%.

Coluna Q004 tem 1 valores vazios 0.00%.

Coluna Q005 tem 1 valores vazios 0.00%.

Coluna Q006 tem 1 valores vazios 0.00%.

Coluna Q024 tem 1 valores vazios 0.00%.

Coluna Q025 tem 1 valores vazios 0.00%.

Foram encontradas 14 colunas com valores vazios.