# Este script faz a leitura inicial da base original e cria uma base contendo apenas as colunas que serão utilizadas.

In [1]:
import pandas as pd
import numpy as np

In [2]:
url_or_file = 'MICRODADOS_ENEM_2021.csv'

In [3]:
dados = pd.read_csv(url_or_file, sep = ';', encoding = 'ISO-8859-1')

In [4]:
dados.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [5]:
display(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685053 entries, 0 to 2685052
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    float64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(22), int64(17), object(37)
memory usage: 1.5+ GB

None

In [6]:
# Criar uma nova coluna no DF para a média aritmética simples das 5 notas:
dados['MEDIA_ENEM'] = 0.0

In [7]:
dados.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'MEDIA_ENEM'],
      dtype='object')

In [8]:
# Primeira análise desta variável ('IN_TREINEIRO') a fim de decidirmos pelo seu uso nas análises futuras:
dados['IN_TREINEIRO'].value_counts()

0    2316091
1     368962
Name: IN_TREINEIRO, dtype: int64

In [9]:
treineiros = len(dados[dados['IN_TREINEIRO'] == 1])
nao_treineiros = len(dados[dados['IN_TREINEIRO'] == 0])
print(f'Percentual de treineiros: {(treineiros / nao_treineiros):.2%}')

Percentual de treineiros: 15.93%

Identificação e tratamento das linhas cujas colunas apresentaram 1 único valor NaN observado no script TCC_I:
Colunas 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'.

In [12]:
colunas_tratamento = ['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 
                      'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 
                      'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025']

In [33]:
x = dados.loc[dados['Q001'].isna(), 'Q001']

In [40]:
indice = x.index

In [48]:
indice[0]

707314

In [50]:
for coluna in colunas_tratamento:
    indice = dados.loc[dados[coluna].isna(), coluna].index[0]
    print(indice)

707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314
707314

In [51]:
dados.loc[indice, colunas_tratamento]

Q001    NaN
Q002    NaN
Q003    NaN
Q004    NaN
Q005    NaN
Q006    NaN
Q007    NaN
Q008    NaN
Q009    NaN
Q010    NaN
Q011    NaN
Q012    NaN
Q013    NaN
Q014    NaN
Q015    NaN
Q016    NaN
Q017    NaN
Q018    NaN
Q019    NaN
Q020    NaN
Q021    NaN
Q022    NaN
Q023    NaN
Q024    NaN
Q025    NaN
Name: 707314, dtype: object

In [52]:
# Tratamento desta linha 707314 em particular:
# Eliminação de linha com valores NaN - 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q024', 'Q025'
dados = dados.drop(indice, axis = 0)

In [53]:
dados = dados.reset_index()

In [54]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685052 entries, 0 to 2685051
Data columns (total 78 columns):
 #   Column                  Dtype
---  ------                  -----
 0   index                   int64
 1   NU_INSCRICAO            int64
 2   NU_ANO                  int64
 3   TP_FAIXA_ETARIA         int64
 4   TP_SEXO                 object
 5   TP_ESTADO_CIVIL         int64
 6   TP_COR_RACA             int64
 7   TP_NACIONALIDADE        int64
 8   TP_ST_CONCLUSAO         int64
 9   TP_ANO_CONCLUIU         int64
 10  TP_ESCOLA               int64
 11  TP_ENSINO               float64
 12  IN_TREINEIRO            int64
 13  CO_MUNICIPIO_ESC        float64
 14  NO_MUNICIPIO_ESC        object
 15  CO_UF_ESC               float64
 16  SG_UF_ESC               object
 17  TP_DEPENDENCIA_ADM_ESC  float64
 18  TP_LOCALIZACAO_ESC      float64
 19  TP_SIT_FUNC_ESC         float64
 20  CO_MUNICIPIO_PROVA      int64
 21  NO_MUNICIPIO_PROVA      object
 22  CO_UF_PROVA             int64
 23  SG_UF_PROVA             object
 24  TP_PRESENCA_CN          int64
 25  TP_PRESENCA_CH          int64
 26  TP_PRESENCA_LC          int64
 27  TP_PRESENCA_MT          int64
 28  CO_PROVA_CN             float64
 29  CO_PROVA_CH             float64
 30  CO_PROVA_LC             float64
 31  CO_PROVA_MT             float64
 32  NU_NOTA_CN              float64
 33  NU_NOTA_CH              float64
 34  NU_NOTA_LC              float64
 35  NU_NOTA_MT              float64
 36  TX_RESPOSTAS_CN         object
 37  TX_RESPOSTAS_CH         object
 38  TX_RESPOSTAS_LC         object
 39  TX_RESPOSTAS_MT         object
 40  TP_LINGUA               int64
 41  TX_GABARITO_CN          object
 42  TX_GABARITO_CH          object
 43  TX_GABARITO_LC          object
 44  TX_GABARITO_MT          object
 45  TP_STATUS_REDACAO       float64
 46  NU_NOTA_COMP1           float64
 47  NU_NOTA_COMP2           float64
 48  NU_NOTA_COMP3           float64
 49  NU_NOTA_COMP4           float64
 50  NU_NOTA_COMP5           float64
 51  NU_NOTA_REDACAO         float64
 52  Q001                    object
 53  Q002                    object
 54  Q003                    object
 55  Q004                    object
 56  Q005                    float64
 57  Q006                    object
 58  Q007                    object
 59  Q008                    object
 60  Q009                    object
 61  Q010                    object
 62  Q011                    object
 63  Q012                    object
 64  Q013                    object
 65  Q014                    object
 66  Q015                    object
 67  Q016                    object
 68  Q017                    object
 69  Q018                    object
 70  Q019                    object
 71  Q020                    object
 72  Q021                    object
 73  Q022                    object
 74  Q023                    object
 75  Q024                    object
 76  Q025                    object
 77  MEDIA_ENEM              float64
dtypes: float64(23), int64(18), object(37)
memory usage: 1.6+ GB

In [ ]:
# Converter para int as colunas 'TP_STATUS_REDACAO' e 'Q005'.
# Primeiramente devem ser preenchidos com 0 onde está vazio.
# Atribuir 0 as células de notas vazias.

In [ ]:
# Único valor vazio da coluna 'Q005' foi eliminado com o drop da linha 707314 acima.
dados['Q005'] = dados['Q005'].astype(np.int64)

In [ ]:
# Preenchimento dos valores vazios desta coluna com o valor 4, conforme critério adotado por nossa equipe:
dados['TP_STATUS_REDACAO'] = dados['TP_STATUS_REDACAO'].fillna(4)

In [ ]:
# Conversão para int64 de todos os valores da coluna 'TP_STATUS_REDACAO':
dados['TP_STATUS_REDACAO'] = dados['TP_STATUS_REDACAO'].astype(np.int64)

In [ ]:
# Atribuir zero para as notas NaN nas colunas 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'.
cols = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']
for coluna in cols:
    dados[coluna] = dados[coluna].fillna(0)

In [ ]:
dados.info()

In [ ]:
# Aqui não podem aparecer valores vazios (NaN):
dados[cols].head(20)

In [ ]:
import time

tempo_inicial = time.time()

for i in range(len(dados)):
    soma_notas = 0
    for coluna in cols:
        soma_notas = soma_notas + dados[coluna][i]
    media_linha = soma_notas/len(cols)
    dados['MEDIA_ENEM'][i] = media_linha

tempo_final = time.time()
duracao = tempo_final - tempo_inicial
print(f'O processamento durou {(duracao)} segundos.')

In [ ]:
# Definição das colunas de interesse:

colunas = ['TP_FAIXA_ETARIA', 
           'TP_SEXO',
           'TP_ESTADO_CIVIL', 
           'TP_COR_RACA', 
           'TP_NACIONALIDADE', 
           'TP_ST_CONCLUSAO', 
           'TP_ESCOLA',
           'IN_TREINEIRO',
           'NO_MUNICIPIO_PROVA',
           'SG_UF_PROVA',
           'TP_PRESENCA_CN', 
           'TP_PRESENCA_CH', 
           'TP_PRESENCA_LC',
           'TP_PRESENCA_MT',
           'NU_NOTA_CN', 
           'NU_NOTA_CH', 
           'NU_NOTA_LC', 
           'NU_NOTA_MT',
           'TP_STATUS_REDACAO',
           'NU_NOTA_REDACAO', 
           'Q001', 
           'Q002', 
           'Q003', 
           'Q004',
           'Q005', 
           'Q006', 
           'Q024', 
           'Q025',
           'MEDIA_ENEM'
          ]

In [ ]:
dados_2 = dados[colunas]

In [ ]:
# index = False não permite a criação de coluna com os índices, que gera coluna 'Unnamed: 0' nos novos DFs derivados.
dados_2.to_csv('Dados_Enem_2021.csv', sep=',', index = False)

In [ ]:
dados_2 = pd.read_csv('Dados_Enem_2021.csv', sep=',')

In [ ]:
dados_2.head(10)

In [ ]:
cols_notas = ['NU_NOTA_CN', 
              'NU_NOTA_CH', 
              'NU_NOTA_LC', 
              'NU_NOTA_MT',        
              'NU_NOTA_REDACAO', 
              'MEDIA_ENEM']

In [ ]:
dados[cols_notas].head(10)