# Análise Microdados Enem 2021
##
</div>

### 15/08/2022 - Leitura inicial da base original e cria uma base contendo apenas as colunas que serão utilizadas.

- Sylvio Carneiro

### 1 - Análise desta variável ('IN_TREINEIRO').
### 2 - Tratamento de linhas e Eliminação de linha com valores NaN.
### 3 - Converter para int as colunas 'TP_STATUS_REDACAO' e 'Q005',
###       - Primeiramente devem ser preenchidos com 0 onde está vazio,
###       - Atribuir 0 as células de notas vazias.
### 4 - index = False não permite a criação de coluna com os índices, que gera coluna 'Unnamed: 0' nos novos DFs derivados.

## Este script faz a leitura inicial da base original e cria uma base contendo apenas as colunas que serão utilizadas.

In [56]:
import pandas as pd
import numpy as np

In [57]:
url_or_file = r'C:\Users\sylvi\01_Programação e TI - geral\10_Entra 21\Projeto TCC - Microdados Enem 2021\microdados_enem_2021\DADOS\MICRODADOS_ENEM_2021.csv'

In [58]:
dados = pd.read_csv(url_or_file, sep = ';', encoding = 'ISO-8859-1')

In [59]:
dados.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [60]:
display(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685053 entries, 0 to 2685052
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    float64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(22), int64(17), object(37)
memory usage: 1.5+ GB

None

In [62]:
dados.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [63]:
colunas = ['TP_FAIXA_ETARIA', 
           'TP_SEXO',
           'TP_ESTADO_CIVIL', 
           'TP_COR_RACA', 
           'TP_NACIONALIDADE', 
           'TP_ST_CONCLUSAO', 
           'TP_ESCOLA',
           'IN_TREINEIRO',
           'NO_MUNICIPIO_PROVA',
           'SG_UF_PROVA',
           'TP_PRESENCA_CN', 
           'TP_PRESENCA_CH', 
           'TP_PRESENCA_LC',
           'TP_PRESENCA_MT',
           'NU_NOTA_CN', 
           'NU_NOTA_CH', 
           'NU_NOTA_LC', 
           'NU_NOTA_MT',
           'TP_STATUS_REDACAO',
           'NU_NOTA_REDACAO', 
           'Q001', 
           'Q002', 
           'Q003', 
           'Q004',
           'Q005', 
           'Q006', 
           'Q024', 
           'Q025']

## 1 - Primeira análise desta variável ('IN_TREINEIRO') a fim de decidirmos pelo seu uso nas análises futuras:

In [64]:
dados['IN_TREINEIRO'].value_counts()

0    2316091
1     368962
Name: IN_TREINEIRO, dtype: int64

In [65]:
treineiros = len(dados[dados['IN_TREINEIRO'] == 1])
nao_treineiros = len(dados[dados['IN_TREINEIRO'] == 0])
print(f'Percentual de treineiros: {(treineiros / nao_treineiros):.2%}')

Percentual de treineiros: 15.93%

## 2 - Tratamento desta linha 707314 em particular:
##    - Eliminação de linha com valores NaN - 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q024', 'Q025'
##    - Dados descobertos no script TCC_I

In [66]:
dados = dados.drop(707314, axis = 0)

## 3 - Converter para int as colunas 'TP_STATUS_REDACAO' e 'Q005'.
##    - Primeiramente devem ser preenchidos com 0 onde está vazio.
##    - Atribuir 0 as células de notas vazias.

In [68]:
# Único valor vazio da coluna 'Q005' foi eliminado com o drop da linha 707314 acima.
dados['Q005'] = dados['Q005'].astype(np.int64)

In [69]:
# Preenchimento dos valores vazios desta coluna com o valor 4, conforme critério adotado por nossa equipe:
dados['TP_STATUS_REDACAO'] = dados['TP_STATUS_REDACAO'].fillna(4)

In [70]:
# Conversão para int64 de todos os valores da coluna 'TP_STATUS_REDACAO':
dados['TP_STATUS_REDACAO'] = dados['TP_STATUS_REDACAO'].astype(np.int64)

In [77]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2685052 entries, 0 to 2685052
Data columns (total 28 columns):
 #   Column              Dtype
---  ------              -----
 0   TP_FAIXA_ETARIA     int64
 1   TP_SEXO             object
 2   TP_ESTADO_CIVIL     int64
 3   TP_COR_RACA         int64
 4   TP_NACIONALIDADE    int64
 5   TP_ST_CONCLUSAO     int64
 6   TP_ESCOLA           int64
 7   IN_TREINEIRO        int64
 8   NO_MUNICIPIO_PROVA  object
 9   SG_UF_PROVA         object
 10  TP_PRESENCA_CN      int64
 11  TP_PRESENCA_CH      int64
 12  TP_PRESENCA_LC      int64
 13  TP_PRESENCA_MT      int64
 14  NU_NOTA_CN          float64
 15  NU_NOTA_CH          float64
 16  NU_NOTA_LC          float64
 17  NU_NOTA_MT          float64
 18  TP_STATUS_REDACAO   int64
 19  NU_NOTA_REDACAO     float64
 20  Q001                object
 21  Q002                object
 22  Q003                object
 23  Q004                object
 24  Q005                int64
 25  Q006                object
 26  Q024                object
 27  Q025                object
dtypes: float64(5), int64(13), object(10)
memory usage: 594.1+ MB

In [78]:
dados = dados[colunas]

## 4 - index = False não permite a criação de coluna com os índices, que gera coluna 'Unnamed: 0' nos novos DFs derivados.

In [79]:
dados.to_csv('Dados_Enem_2021.csv', sep=',', index = False)

In [80]:
dados = pd.read_csv('Dados_Enem_2021.csv', sep=',')

In [81]:
dados

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_PROVA,SG_UF_PROVA,...,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q024,Q025
0,5,F,1,1,1,1,1,0,Nova Lima,MG,...,1,760.0,F,F,B,B,3,D,B,B
1,12,M,1,1,1,1,1,0,Maceió,AL,...,1,560.0,B,B,B,B,3,B,A,A
2,13,F,3,1,1,1,1,0,Ferraz de Vasconcelos,SP,...,4,NaN,B,C,C,B,3,C,B,B
3,3,M,1,3,1,2,2,0,Crato,CE,...,1,780.0,B,B,B,B,6,B,B,B
4,2,F,1,3,1,2,2,0,Acarape,CE,...,1,780.0,D,E,F,D,4,C,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685047,4,M,1,1,1,2,2,0,Serra,ES,...,1,680.0,G,G,D,F,5,C,C,B
2685048,4,F,1,3,1,2,2,0,Coruripe,AL,...,1,800.0,D,D,A,A,5,A,A,B
2685049,5,M,1,3,1,1,1,0,Salvador,BA,...,4,NaN,E,F,E,E,4,C,B,B
2685050,4,F,1,0,1,1,1,0,Teresina,PI,...,1,520.0,H,H,B,B,4,C,B,B
2685051,13,F,1,1,1,2,2,0,Santiago,RS,...,6,0.0,C,C,C,B,4,B,A,B

In [82]:
dados.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_PROVA,SG_UF_PROVA,...,TP_STATUS_REDACAO,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q024,Q025
0,5,F,1,1,1,1,1,0,Nova Lima,MG,...,1,760.0,F,F,B,B,3,D,B,B
1,12,M,1,1,1,1,1,0,Maceió,AL,...,1,560.0,B,B,B,B,3,B,A,A
2,13,F,3,1,1,1,1,0,Ferraz de Vasconcelos,SP,...,4,NaN,B,C,C,B,3,C,B,B
3,3,M,1,3,1,2,2,0,Crato,CE,...,1,780.0,B,B,B,B,6,B,B,B
4,2,F,1,3,1,2,2,0,Acarape,CE,...,1,780.0,D,E,F,D,4,C,B,B