<h4 align="center">Projeto Análise Microdados Enem 2021</h4>

 - Diogo Lindemann
 - Francisco de Assis
 - Luana Naiara
 - Marcelo Takahashi
 - Rafael Rosso
 - Sylvio Carneiro

1- Análise de valores vazios de cada coluna

#### Este script faz uma primeira análise estatística das colunas que têm valores vazios (NaN), emitindo um relatório destas colunas. Colunas não exibidas não possuem valores vazios.

In [23]:
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
url_or_file = 'Dados_Enem_2021.csv'

In [14]:
dados = pd.read_csv(url_or_file, sep = ',', encoding = 'utf-8')

In [15]:
dados.head()

,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,NO_MUNICIPIO_PROVA,SG_UF_PROVA,...,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q024,Q025,MEDIA_ENEM
0,5,F,1,1,1,1,1,0,Nova Lima,MG,...,760.0,F,F,B,B,3,D,B,B,361.44
1,12,M,1,1,1,1,1,0,Maceió,AL,...,560.0,B,B,B,B,3,B,A,A,515.50
2,13,F,3,1,1,1,1,0,Ferraz de Vasconcelos,SP,...,0.0,B,C,C,B,3,C,B,B,0.00
3,3,M,1,3,1,2,2,0,Crato,CE,...,780.0,B,B,B,B,6,B,B,B,667.60
4,2,F,1,3,1,2,2,0,Acarape,CE,...,780.0,D,E,F,D,4,C,B,B,570.06

In [16]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685052 entries, 0 to 2685051
Data columns (total 29 columns):
 #   Column              Dtype
---  ------              -----
 0   TP_FAIXA_ETARIA     int64
 1   TP_SEXO             object
 2   TP_ESTADO_CIVIL     int64
 3   TP_COR_RACA         int64
 4   TP_NACIONALIDADE    int64
 5   TP_ST_CONCLUSAO     int64
 6   TP_ESCOLA           int64
 7   IN_TREINEIRO        int64
 8   NO_MUNICIPIO_PROVA  object
 9   SG_UF_PROVA         object
 10  TP_PRESENCA_CN      int64
 11  TP_PRESENCA_CH      int64
 12  TP_PRESENCA_LC      int64
 13  TP_PRESENCA_MT      int64
 14  NU_NOTA_CN          float64
 15  NU_NOTA_CH          float64
 16  NU_NOTA_LC          float64
 17  NU_NOTA_MT          float64
 18  TP_STATUS_REDACAO   int64
 19  NU_NOTA_REDACAO     float64
 20  Q001                object
 21  Q002                object
 22  Q003                object
 23  Q004                object
 24  Q005                int64
 25  Q006                object
 26  Q024                object
 27  Q025                object
 28  MEDIA_ENEM          float64
dtypes: float64(6), int64(13), object(10)
memory usage: 594.1+ MB

In [17]:
total_linhas_df = len(dados)
print(f'Total de linhas da base original: {(total_linhas_df):,.0f}')

Total de linhas da base original: 2,685,052

### 1- Análise de valores vazios de cada coluna.

In [18]:
def analisar_nan(coluna):
    #return(dados.loc[dados[coluna].isna(), coluna])
    df = dados.loc[dados[coluna].isna(), coluna]
    return(len(df))

In [19]:
dados.columns

Index(['TP_FAIXA_ETARIA', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ESCOLA', 'IN_TREINEIRO',
       'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH',
       'NU_NOTA_LC', 'NU_NOTA_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_REDACAO',
       'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q024', 'Q025',
       'MEDIA_ENEM'],
      dtype='object')

In [20]:
cols = [
        'TP_FAIXA_ETARIA', 
        'TP_SEXO',
        'TP_ESTADO_CIVIL', 
        'TP_COR_RACA', 
        'TP_NACIONALIDADE', 
        'TP_ST_CONCLUSAO', 
        'TP_ESCOLA',
        'IN_TREINEIRO',
        'NO_MUNICIPIO_PROVA',
        'SG_UF_PROVA',
        'TP_PRESENCA_CN', 
        'TP_PRESENCA_CH', 
        'TP_PRESENCA_LC',
        'TP_PRESENCA_MT',
        'NU_NOTA_CN', 
        'NU_NOTA_CH', 
        'NU_NOTA_LC', 
        'NU_NOTA_MT',
        'TP_STATUS_REDACAO',
        'NU_NOTA_REDACAO', 
        'Q001', 
        'Q002', 
        'Q003', 
        'Q004',
        'Q005', 
        'Q006', 
        'Q024', 
        'Q025'
        ]

In [25]:
cont = 0
for coluna in cols:
    nan = analisar_nan(coluna)
    if nan != 0:
        cont += 1
        print(f'Coluna {coluna} tem {(nan):,.0f} valores vazios {(nan / total_linhas_df):.2%}.\n')
print(f'Foram encontradas {cont} colunas com valores vazios.')

data_e_hora_atuais = datetime.now()
data_e_hora_em_texto = data_e_hora_atuais.strftime("%d/%m/%Y %H:%M:%S")
print(data_e_hora_em_texto)

Foram encontradas 0 colunas com valores vazios.
17/08/2022 16:09:04